<footer class="usa-footer usa-footer-medium" role="contentinfo">
	<div class="usa-grid usa-footer-return-to-top">
		<a href="#main-header">Return to top</a>
	</div>
	<div class="usa-footer-primary-section">
		<div class="usa-grid">
			<p class="usa-footer-primary-content usa-footer-contact_info">
			<a href="{{site.url}}/">{{site.title}}</a> | Copyright &copy; {{ "now"|date("Y") }}
			</p>
		</div>
	</div>
</footer>