<form class="usa-search usa-search-small" action="{{site.url}}" role="search">
<div role="search">
  <label class="usa-sr-only" for="search-field-small">Search small</label>
  <input id="search-field-small" type="search" name="s">
  <button type="submit">
    <span><i class="fa fa-search"></i></span>
  </button>
</div>
</form>