{% extends "base.twig" %}

{% block content %}
<section class="usa-grid usa-section">
    {% if title %}
    <h1>{{title}}</h1>
    {% endif %}
    <article>
        {% if posts %}
        {% for post in posts %}
        	{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        {% endfor %}
        {% else %}
        <p>No results found.</p>
        {% endif %}
        {% include 'pagination.twig' %}
    </article>
    <aside>
        {% include 'sidebar.twig' %}
    </aside>
</secton>
{% endblock %}